Source: clustershell
Section: net
Priority: optional
Maintainer: Stéphan Gorget <phantez@gmail.com>
Build-Depends: debhelper (>=7.0.0), python-support (>= 0.6), cdbs (>= 0.4.49), python-all
Standards-Version: 3.8.4

Package: clustershell
Architecture: all
Homepage: http://sourceforge.net/projects/clustershell/
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description : Distributed shell that provides an efficient python interface
 Event-based Python library to execute commands on local or distant
 cluster nodes in parallel depending on the selected engine and
 worker mechanisms.
 .
 The library provides also advanced nodeset handling methods. Its goal
 is to improve the administration of cluster by providing a lightweight
 but scalable API for developers.

